.form {
    margin-bottom: 0;
    &-control {
        font-size: rem(20px);
        font-weight: 400;
        height: 54px;
        padding: 0 1rem;
        &::placeholder {
            color: #000;
            opacity: 0.8;
        }
    }
    &-group {
        margin-bottom: rem(30px);
        @media screen and (max-width: 991px) {
            margin-bottom: rem(25px);
        }
    }
}

