@import "import";
*, ::after, ::before {
    box-sizing: border-box;
}
.overflow-hidden{
    overflow: hidden;
}
.d-flex{
    display:flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-none{
    display:none;
}
.text-center{
    text-align: center;
}
.p-0{
    padding:0 !important;
}
.pt-0{
    padding-top:0;
}
.pb-0{
    padding-bottom: 0;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-16{
    margin-bottom: rem(16px) !important;
}
.mx-auto{
    margin-left:auto;
    margin-right:auto;

}
img{
    max-width:100%;
    height:auto;
}
.contentWrapper{
    padding-top:102px;
    overflow: hidden;
    position: relative;
    @media screen and (max-width:1600px){
        padding-top:96px;
    }
    @media screen and (max-width:991px){
        padding-top:93px;
    }
}
section{
    --bg:#fff;
    padding:rem(90px) 0;
    background-color: var(--bg);
    @media screen and (max-width:1600px){
        padding:rem(75px) 0;
    }
}
.sectionHead{
    &__title{
        --width:100%;
        font-size:rem(52px);
        font-weight:800;
        line-height: 63px;
        max-width:var(--width);
        
    }
    &__subtitle{
        background: var(--primary);
        display:inline-flex;
        align-items: center;
        font-size:14px;
        font-weight:500;
        text-transform: uppercase;
        color:#000;
        border-radius: 50px;
        padding:6px rem(20px);
        line-height: 1;
        margin-bottom:rem(20px);
    }
    &__desc{
        --width:100%;
        max-width:var(--width);
        @include push--auto;
        p{
            
            font-size:rem(20px);
            font-weight:400;
            line-height: 31px;
            
        }
    }
    &.h-size{
        .sectionHead{
            &__title{
                font-size:rem(22px);
                line-height: 63px;
                border-bottom: 1px solid #E5E5E5;
                margin-bottom: rem(45px);
                font-weight:800;
                @media screen and (max-width:767px){
                    font-size:16px;
                    line-height: 46px;
                }
            }
        }
    }
    &.secondary{
        .sectionHead{
            &__title{
                span{
                    display:block;
                    color:#8363E1;
                    font-size:rem(52px);
                    font-weight: 400;
                    line-height: 53px;
                    @media screen and (max-width:991px){
                        font-size:rem(42px);
                        line-height: 42px;
                    }
                    @media screen and (max-width:767px){
                        font-size:29px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}
// .front-page{
//     .sectionHead{
//         &__title{
//              font-size:rem(52px);
//             font-weight:800;
//             line-height: 63px;
//         }
//     }
// }
.separator{
    display:block;
    border-bottom: 1px solid #D7D7D7;
    width:97%;
    @include push--auto;
    padding-top:rem(100px);
    @media screen and (max-width:1600px){
        padding-top:rem(85px);
    }
}
.position-relative{
    position:relative;
}
.swiper-controls{
    
    .swiper-button{
        width:45px;
        height:45px;
        color:#fff;
        background-color: #000;
        border-radius: 100%;
        @include flex(center , center);
        border:0;
        padding:0;
        appearance: none;
        &:after{
            font-size:17px;
        }
        @media screen and (max-width:991px){
            width:36px;
            height:36px;
            
        }
        &.swiper-button-next{
            right: calc((100vw - 1570px) / 2); 
            @media screen and (max-width:1600px){
                right:-11px;
            }
        }
        &.swiper-button-prev{
            left: calc((100vw - 1570px) / 2); 
             @media screen and (max-width:1600px){
                left:-11px;
            }
        }
        &.swiper-button-disabled{
            opacity:0;
        }
    }
}
.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}
.note{
    text-align: center;
    max-width:1050px;
    @include push--auto;
    p{
        text-align: center;
        font-size:rem(32px);
        font-weight:500;
        line-height: 50px;
        span{
            display: inline-block;
            font-weight:700;
            text-decoration: underline;
            text-decoration-color: var(--primary);
            text-underline-offset: 13px;
            text-decoration-thickness: 4px;
            &.underline-none{
                text-decoration: none;
            }
        }
    }
    h4{
        font-size:rem(16px);
        font-weight:400;
        line-height: 1;
        background-color: var(--primary);
        color:#000;
        border-radius: 50px;
        padding:4px 13px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin:0;
        span{
            font-weight:800;
            margin-right: 2px;
        }
    }
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1060;
  display:none;
    &.is-open {
        display: block;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}



/* Dialog wrapper */
.modal-dialog {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding:20px;
}

/* Center alignment */
.modal-dialog-centered {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal box */
.modal-content {
  position: relative;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  pointer-events: auto;
  video , iframe{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

/* Body */
.modal-body {
  padding: 15px;
}

/* Close button */
.popup-cross-icon {
  position: absolute;
  top: 18px;
  right: 12px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width:991px){
    .sectionHead{
        &__title{
            font-size:rem(42px);
            line-height: 40px;
        }
    }
    // .front-page{
    //     .sectionHead{
    //         &__title{
    //             font-size:rem(42px);
    //             line-height: 40px;
    //         }
    //     }
    // }
    .separator{
        padding-top:rem(50px);
    }
    section{
        padding:rem(60px) 0;
    }
    .mt-90{
        margin-top:45px !important;
    }
    .mt-80{
        margin-top:45px !important;
    }
    .mb-80{
        margin-bottom: 40px !important;
    }
    .mt-100{
        margin-top: 45px !important;
    }
    .note{
        p{
            text-align: center;
            font-size:rem(26px);
            line-height: 42px;
            span{
                text-underline-offset: 9px;
                text-decoration-thickness: 2px;
            }
        }
    }
    p{
        font-size:rem(21px);
    }
}
@media screen and (max-width:767px){
    .d-md-none{
        display:none !important;
    }
    .d-md-block{
        display:block !important;
    }
    .contentWrapper{
        padding-top:64px;
    }
    .sectionHead{
        &__title{
            font-size:rem(35px);
            line-height: 30px;
        }
        &__subtitle{
            font-size:11px;
        }
        &__desc{
            p{
                
                font-size:rem(17px);
                line-height: 22px;
                
            }
        }
    }
    // .front-page{
    //     .sectionHead{
    //         &__title{
    //             font-size:rem(35px);
    //             line-height: 30px;
    //         }
    //     }
    // }
    .note{
        h4{
            font-size:12px;
        }
        p{
            font-size:rem(23px);
            line-height: 30px;
        }
    }
    p{
        font-size:rem(16px);
        line-height:20px !important;
    }
}
@media screen and (max-width:667px){
     .sectionHead{
        &__title{
            font-size:rem(33px);
            line-height: 31px;
        }
    }
    // .front-page{
    //     .sectionHead{
    //         &__title{
    //             font-size:rem(33px);
    //             line-height: 31px;
    //         }
    //     }
    // }
}

.trustpilot-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left:30px;

    .excellent {
        font-size: clamp(12px, 5vw, 20px);
        font-weight: 800;
        line-height: 1;
        color: #101820;
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .stars {
        display: flex;
        gap: 2px;
    }

    .star {
        width: clamp(14px, 7vw, 20px);
        height: clamp(14px, 7vw, 20px);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(9px, 5vw, 18px);
        line-height: 1;
        background: #00b67a;
        color: white;

        &.half {
            background: linear-gradient(
                90deg,
                #00b67a 50%,
                #d9d9d9 50%
            );
        }
    }

    .trustpilot-logo {
        display: flex;
        align-items: flex-end;
        gap: 4px;
        position: relative;
        top:-3px;

        color: #101820;
        font-size: clamp(8px, 5vw, 17px);
        font-weight: 700;

        .logo-star {
            color: #00b67a;
            font-size: 24px;
            top:2px;
            position: relative;
        }
    }
}

@media (max-width: 768px) {
    .trustpilot-rating {
        margin:11px 0 0;
        .trustpilot-logo{
            gap:2px;
            .logo-star{
                font-size:21px;
            }
        }
    }
}
